    # Python
    __pycache__/
    *.pyc
    *.pyo
    *.pyd
    .Python/
    env/
    venv/
    *.env
    .idea/
    .vscode/

    # Django
    db.sqlite3
    /media/
    /static_cdn/ # If you collect static files to a separate folder for production
    *.log
    local_settings.py # If you use separate local settings

    # Vercel
    .vercel/
    